body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #303030;
}

.gradient-bg {
    background: #efeff2;
}

.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    z-index: 1000;
    background-color: #777777ad;
    backdrop-filter: blur(2px);

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-container {
    position: relative;
    top: 60px;
    max-width: 176px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background: #e8e9ed;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e4e4e9;
    border-radius: 19px;

}

.mobile-nav-links {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.mobile-nav-links a {
    font-weight: 500;
    font-size: 14px;
    color: #7a7a7a;
}

.mobile-nav-links a:hover {
    color: #303030;
    transition: all 0.3s ease;
}

.mobile-menu-close {
    position: absolute;
    display: flex;
    top: -50px;
    right: 0px;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(195 195 195 / 43%);
    border-radius: 11px;
    background: #e3e3e3;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover {
    background-color: #d4d4d4;

}

.header {
    z-index: 10;

}

.header.scrolled {
    background: #efeff2;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.header.scrolled>div {
    padding-top: 15px;
    padding-bottom: 10px;
    transition: all 0.3s ease;
}

.logo_text {
    font-size: 16px;
    text-align: center;
    color: rgba(51, 51, 51, 0.95);
}

.nav-links {
    border: 1px solid rgba(225, 225, 226, 0.46);
    border-radius: 100px;
    padding: 3px;
    background: #f3f4f6;
}

.nav-links>a {
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    color: #aeb0b1;
    padding: 13px;
    border-radius: 100px;
    transition: all 0.3s ease;
}



.nav-links>a:hover {
    color: #fbfbfc;
    border-radius: 100px;
    background: #303030;
}

.burger {
    border: 1px solid rgba(222, 222, 227, 0.45);
    border-radius: 11px;
    background: #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.burger:hover {
    background-color: #d4d4d4;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.connect {
    font-weight: 500;
    font-size: 11px;
    text-align: center;
    color: #fbfbfc;
    border-radius: 100px;
    width: 75px;
    height: 31px;
    background: #303030;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-therd:hover,
.btn-primary:hover,
.btn-secondary:hover,
.connect:hover {
    color: #303030;
    background: #cdcdd0;
    border: 1px solid rgba(174, 174, 178, 0.27);
}

.section {
    background-image: url('../images/fon.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 83px;
}

.hero_img-box {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 315px;
    left: 140px;

}

@media (min-width: 361px) {
    .hero_img-box {
        width: 142px;
        height: 142px;
        position: sticky;
        top: 0;
    }
}

.hero-title {
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    font-size: 58px;
    line-height: 110%;
}



.hero-text {
    font-size: 20px;
    color: rgba(38, 38, 38, 0.55);
}

.btn-primary {
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    border-radius: 38px;
    padding: 17px 30px;

    color: #f7f7f7;
    backdrop-filter: blur(4px);
    background: #2d2d2d;
    border: 1px solid #2d2d2d;
    transition: all 0.3s ease;
}

.btn-secondary {
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    padding: 17px 18px;
    border-radius: 38px;

    color: #2e2e2e;
    backdrop-filter: blur(4px);
    background: #e6e8ec;
    border: 1px solid #cecece;
    transition: all 0.3s ease;
}


.btn-secondary::after {
    content: '→';
    margin-left: 8px;
}

.btn-therd {
    display: none;
}

.about_section {
    display: none;
}

.about-title {
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 110%;
}

.about_img {
    width: 180px;
    height: 180px;
    position: relative;
    bottom: -20px;
}

.title_box {
    border-radius: 45px;
    padding: 16px auto;
    width: 100%;
    height: 57px;
    backdrop-filter: blur(4px);
    background: #f4f6f7;
}

.about_number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    font-weight: 600;
    font-size: 15px;
    line-height: 140%;
    color: #fbfbfc;
    background-color: #2d322f;
    border-radius: 100%
}

.about_box-tittle {
    font-size: 20px;
}

.text_box {
    border-radius: 31px;
    padding: 30px 32px 30px 28px;
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px);
    background: #f4f6f7;
}

.text_tittle {
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #2d322f;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #787878;
}

.slider-container {
    overflow: hidden;
    width: 100%;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;
    touch-action: pan-y;
}

.slide {
    width: 33.333333%;
    flex-shrink: 0;
    box-sizing: border-box;
}

/* Dots styles */
.dot {
    width: 28px;
    height: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.dot.active {
    background: #737679 !important;
}

.dot:hover {
    background: #6b7280;
    transition: all 0.3s ease;
}


.slider-track {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}






@media (max-width: 360px) {
    .max-w-7xl {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .grid-cols-1 {
        gap: 1.5rem;
    }

    .text-3xl {
        font-size: 1.5rem;
    }

    .py-16 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}